<h1 align="center">Forgot Password?</h1>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form  [formGroup]="form" *ngIf="!isLoading">
    <br>
   <p align="center" style="color:black">  Please provide us your email to send you the link for update password
   </p> 
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="email"
          placeholder="Email address"          
         >
        <mat-error *ngIf="f.email.errors">Please enter a valid email</mat-error>
      </mat-form-field>
 
     <br>
      <button
        mat-raised-button
        color="accent"
        (click)="forgotPassword(form)" *ngIf="!isLoading">Send Email</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>

    </form>

  