mat-form-field {
    width: 100%;
  }
  
  mat-spinner{
    margin:auto;
  }
  button{
      display: block;
      margin:auto;
      width: 50%;
  }
  a {
      display: block;
      margin:auto;
  }
  form{
      padding:20px;
      width: 80%;
      margin:auto;
  }

  
  h1,h2{
    color:white;
  }
  
  mat-card{
    padding:120px;
    background-color: rgba(31, 30, 30, 0.466);
    border: 0px;
    box-shadow: none;

  }
  
  ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep .mat-form-field-placeholder{
  
    color:white;
  }
  input{
    color:white;
  }
  ::ng-deep .mat-focused .mat-form-field-placeholder{
  
    color:white;
  }
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }
  input{
    color:white;
  }