<mat-card><h1 align="center">Change password</h1>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form  [formGroup]="form" *ngIf="!isLoading">    

      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"          
         >
        <mat-error *ngIf="f.password.errors">Please enter a valid passsword</mat-error>
      </mat-form-field>
     <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="passwordRep"
          placeholder="Repeat password"          
         >
        <mat-error *ngIf="f.passwordRep.errors">Passwords dont match </mat-error>
      </mat-form-field>
  
      <button
        mat-raised-button
        color="accent"
        (click)="changePassword(form)" *ngIf="!isLoading">Update password</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>

    </form>
  </mat-card>
  